/* ---------------------------------------

            PAGE DEFAULTS

------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

.container { width: 1004px !important; }

body {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5f5e5e;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;   
    padding-bottom: 10px;
    color: #000;
}

.footer {
    background-color: #002032;
    border-radius: 0px;
    height:40px;
    padding: 10px 0px;
}

.footer-text {
    color: #fff;
    font-size: 16px;
    margin:0 auto;
    position: relative;
}

.navbar hr {
  border-style: solid none;
  border-top-width: 1px;
  margin: 0;
  border-color: rgba(100,100,100,0.2);
  width: 100%;
}

hr {
    border-style: solid none;
    border-top-width: 1px;
    margin-top: -50px;
    border-color: rgba(100,100,100,0.2);
    margin-left: -14px;
    width: 1000px;
}

/*--------- SPACER ----------*/
.spacer-xs {
    margin-bottom: 10px;
}
.spacer-s {
    margin-bottom: 20px;
}
.spacer-m {
    margin-bottom: 40px;
}
.spacer-l {
    margin-bottom: 80px;
}
.spacer-xl {
    margin-bottom: 100px;
}
.spacer-xxl {
    margin-bottom: 120px;
}
.spacer-xxxl {
    margin-bottom: 140px;
}
.nav-spacer {  margin-top: 40px; }


/* -----------------------------------------------

           CUSTOM NAVBAR 

-------------------------------------------------*/
.navbar-inverse {
    background-color: #002032;
    border-radius: 0px;
}

.navbar>.container .navbar-brand {
    margin-bottom: 33px;
    
}
.navbar-nav>li>.dropdown-menu {
    padding: inherit;
    width: 180px;   
    border-top: 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
}

.navbar-nav {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    text-transform: uppercase;     
    letter-spacing: 0;  
    height: 43px;
    width: 1004px;
    margin-left: -14px;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fcbc2c;
    background-color: #002032;
    height: 43px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;   
    padding-right: 36px;
    border-radius: 0px;
    padding-top: 12px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #fcbc2c;
    font-weight: normal;   
    background-color: #1484c7;
    height: 43px;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
    color: #fcbc2c;   
    font-weight: normal;
    background-color: #1484c7;
    height: 43px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    background-color: #0082C9;
}

.dropdown-menu>li>a{
    color: #ffffff; 
    font: 14px 'Roboto Condensed', sans-serif;
    font-weight: 300;
    border-bottom: 1px rgba(0,0,0,0.5) solid;
    text-transform: capitalize;    
    padding: 13.5px 12px;
    border-top: 0px;
}    


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ffffff;   
    background-color: #0c6396;
}

.dropdown-submenu>a:after {
    display: none;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    /*-webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;*/
    padding: inherit;
    border-left: 1px #0A4364 solid;
    width: 350px;
    border-radius: 2px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;    
}


.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/*-------  SUBMENU 2 & 3 CUSTOM COLORS ---------*/


.dropdown-submenu :focus {
    background-color: #0c6396;
}

.dropdown-submenu:hover {
    background-color: #0c6396;  
}

.dropdown-submenu>.dropdown-menu li {
    background-color: #006197;
}

.dropdown-submenu>.dropdown-menu li a:hover {
    background-color: #064364;
}

/* ------- TWO COLUMNS DROPDOWN -------*/

@media screen and (max-width: 991px){
    .columns{
        height: 20px;
        overflow:scroll;

    }
}

@media screen and (min-width: 992px){
    .columns{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari and Chrome */
        column-count:2;
        width: 500px;

        -webkit-column-gap: 1px; /* Chrome, Safari, Opera */
        -moz-column-gap: 2px; /* Firefox */
        column-gap: 2px;

        background-color: #0A4364;
    
    
}
}

.navbar-caret{
    display: inline-block;
    float: right;
    width: 17px;
    margin: -3px -4px 0 0;
}

.navbar-right .dropdown-menu {
    padding: inherit;
}

/* --------------------------------------------------------------

                  HEADER

-----------------------------------------------------------------*/
.logo {
    width: 122px;
    margin-left: -5px;
}

.login-btn {
    position: relative;
}

.login-text {
    position: relative;
    right: 45px;
    color: #fff;
    text-transform: initial;
    font-weight: normal;
    letter-spacing: normal;
    font-size: 14px;
    top: 30px;
}

.bubble {
    position: absolute;
    min-width: 140px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: none;
    top: 41px;
    box-shadow: 0 1px 10px rgba(0,0,0,.175);
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 10px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
    left: 115px;
}

.login-btn .dropdown-menu>li {
    min-height: 20px;
}
.login-btn .dropdown-menu>li>a {
    color: #999;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px 0px 10px 20px;
    letter-spacing: 1px;
    font-size: 14px;
    border: none;
}

.login-btn .dropdown-menu>li>a:hover {
    background-color: #3580c7;
    color: #fff;
}

/* --------------------------------------------------------------

                  LIGHTBOX

-----------------------------------------------------------------*/

#overlay {
    display: none;
    z-index: 2;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 119px;
    left: 0px;
    text-align: center;
    box-shadow: none;
}
/* --------------------------------------------------------------

                  SUMMARY PAGE ICONS

-----------------------------------------------------------------*/

/*-----  ALERT BOX -------*/
.alert-help {
  background-color: #f9f9f9;
  border-color: #ededed;
  position: absolute;
  border-radius: 0;
  top: 25px;
  width: 287px;
  height: 32px;
  right: 0px;
  cursor: pointer;
}

/*.alert-help:hover {
    background-color: #f5bc39;
    border-color: rgba(0,0,0,0);
    box-shadow: 0.5px 0.5px 10px #dddddd;
}*/

.alert-help hr {
  border-top-color: #f7e1b5;
}
.alert-help h4 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.07px;
    margin-top: -7px;
}
.alert-help a{
    color: #3580c7;
    text-decoration: none;
}
/*.alert-help a:hover {
    color: #fff;
    text-decoration: none;
}*/
.bottom-bar .alert-help {
  background-color: #1484c7;
  border-color: #1484c7;
  position: relative;
  border-radius: 0;
}

.alert-help:hover {
  box-shadow: 0px 0.5px 5px rgba(204,204,204,0.5);
    }

.notice-icon {
    float: left;
    position: relative;
    width: 30px;
    top: -7px;
}


/* --------------------------------------------------------------

                  SUMMARY PAGE

-----------------------------------------------------------------*/


.summary-top {
    background-color: #1484c7;
    padding: 0 0 0 30px;
    color: #fff;
}

.summary-top .fa-2x {
    position: relative;
    top: 18px;
}

.summary-top h4 {
    position: relative;
    left:40px;
    top: -15px;
    text-transform: uppercase;
}

.summary-cell {
    border-style: solid;
    border-color: #f1f2f2;
    border-width: 1px;
    margin:0;
    padding: 0 0 0 25px;
    height: 70px;
}

.summary-cell .fa-2x {
    position: relative;
    color: #1484c7;
    top:18px;
}

.summary-cell h4 {
    position: relative;
    left:50px;
    top: -15px;
    text-transform: uppercase;
}

.summary-data {
    font-weight: bold;
    text-transform: uppercase;
    color: #1484c7;
    font-size: large;
    position: relative;
    top: -47px;
    left: 300px;
}

.bottom-bar {
    background-color: #1b4364;
    width: 100%;
    display: inline-flex;
    padding: 35px 0 0 0;
}

.bottom-bar .form-control {
    height:50px;
    border-radius: 0;
    font-size: large;
}

.bottom-bar .btn-default {
    position: relative;
    top: -50px;
    left: 750px;
    height: 50px;
    background-color: #1484c7;
    border-radius: 0;
    color: #fff;
    border-color: #1484c7;
}

.bottom-bar .btn-default:hover {
    background-color: #0c6ca6;
    border-color: #0c6ca6;
}

/* ---------------------------------------

            LOGIN PAGE

------------------------------------------*/

.login {
    max-width: 350px;
    padding: 40px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    box-shadow: 0px 1px 15px #ccc;
    
    border-radius: 2px;
}

.login-blue {
    max-width: 350px;
    background-color: #3580c7;
    margin: 0 auto;
    padding: 10px 30px 10px;
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 15px #ccc;
    border-radius: 2px;
}

.login-blue h3 {
    color: #fff;
    font-weight: bold;
    padding-left: 12px;
}

.login input[type="text"],
.login input[type="password"] {
    font-size: 14px;
    height: auto;
    margin-bottom: 10px;
    padding: 7px 12px;
    width: 290px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    border-width: thin;
    border-radius: 2px;
}

.login .btn-primary {
    background-color: #fcbc2c;
    border: none;
    width: 290px;
    border-radius: 2px;
    font-weight: bold;
    height: 40px;
}
.login .btn-primary:hover {
    background-color: #fdc956;

}

.login p {
    color: #3580c7;
    font-size: 12px;
    margin: 10px auto;
    padding-left: 12px;
}


/* ---------------------------------------

            BREADCRUMBS

------------------------------------------*/
.breadcrumb>li+li:before {
    content: ">";
}

.breadcrumb, .breadcrumb p {
    display: inline-block;
    background-color: rgba(0,0,0,0);
    font-size: 10px;
}

.breadcrumb, .breadcrumb a{
    color: #999;
}

.breadcrumb>.active {
    font-weight: bold;
}

.breadcrumb {
    top: -20px;
    position: relative;
    margin-left: -14px;
}

.breadcrumb hr {
    margin: -50px 0 0 0;
}

/* ---------------------------------------

            SECTION PAGE

------------------------------------------*/

/* ----------- LAYOUT ---------*/
.section {
    border-bottom: rgba(204, 204, 204, 0.64) solid 1px;
    width: 1000px;
    padding-bottom: 80px;
}

.section-navbar {
    margin: 0 0 0 -12px;
    width: 1005px;
}

.section-navbar ul {
    display: block;
    margin: 0;
    padding: 0;
}

.section-navbar li {
    display: inline;
    float: left;
    width: 100px;
    height: 28px;
    text-align: center;
    background-color:rgba(1,121,196,1);
    border-bottom-color: rgba(252,180,40,1);
    border-bottom-style: solid;
    border-bottom-width: medium;
    color: #fff;
    border-right-color: #fff;
    border-right-width: thin;
    border-right-style: solid;
    border-radius: 2px;
    font-weight: normal;
    font-size: 12px;
}

.section-navbar a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.section-navbar li.active, .section-navbar a:hover  {  
    background-color: rgba(252,180,40,1);
    border-radius: 2px;
    border-top-color: rgba(252,200,40,1);
    border-top-style: solid;
    border-top-width: medium;
    text-decoration: none;
    padding: 5px 0;
    margin-top: -3px;
    height: 31px;
}
.section-navbar li.active {
}

#section-head {
    position: relative;
    top: 30px;
}

#section-head h3 {
    color: #f5bc39;
    display: inline;
    font-size: 22px;
}
#section-head p {
    font-size: 15px;
    font-weight: 100;
    display: inline;
    padding-left:10px;
}
#section-head .highlight {
    font-weight: 400;
    font-style: italic;
}
.section-buttons {
    display: inline;
    position: relative;
    top: 10px;
    left: -27px;
    max-height: 32px;
}
.section-buttons .btn {
    width: 136px;
    background-color: #fff;
    border-color: rgba(0,0,0,0.1);
    text-align: left;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    color: #3580c7;
    height: 32px;
    border-radius: 2px;
    font-size: 14px;
}

.section-buttons .btn:hover {
    box-shadow: 0.5px 0.5px 10px #cfd2d8;
}

.section-buttons .fa-2x {
    float: right;
    top:2px;
    position: relative;
}


.section-buttons .apply {
    width: 110px;
    background-color: #f5bc39;
    border-color: #f5bc39;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: -1px 0 0 10px;
    max-height: 40px;
    border-radius: 0;
}

.action-hr {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: rgba(100,100,100,0.2);
    position: relative;
    top: 65px;
    width: 1000px;
    margin-left: -12px;
}

/* ---------- RESULT PAGINATION ----------- */
.result-count {
    float: right;
    position: relative;
    margin-top: -5px;
}

.result-count p {
    font-size: 14px;
    font-weight: normal;
    display: inline;
    position: relative;
    top:-25px;
    padding-right: 10px;
}
.result-count .pagination {
    display: inline-block;
    margin: 15px -30px 15px 0;
}

/*------------- TABLE -------------*/

.table>tbody>tr>td, .table>thead:first-child>tr:first-child>th {
    vertical-align: middle;
    font-size:11px;
}

.table>tfoot>tr>td {
    font-size: 11px;
    font-weight: bold;
}

.table>tbody>tr:hover, .checked {
    background-color: #fffcf7;   
    border-color: #fcbc2c;
    border-style: solid;
    border-left-width: medium;
    border-top-width: thin;
    border-bottom-width: thin;
    border-right-width: 0px;
}

td:last-child, th:last-child {
    text-align: right;   
    position: relative;
    right:6px;
}

.table {
    width:1000px;
    margin-left: -12px;
}

td:first-child, th:first-child {
    left: 6px;
    position: relative;
}

.table>tfoot>tr>td {
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;

    height: 40px;
    vertical-align: middle;
}

.checkbox-data {
    position: relative;
    top:3px;
}
/*--------  Section Form --------*/

.section-form .col-md-4 {
    padding: 0;
    
    margin-left: -12px;
}

.section-form {
    margin-top: 12px;
    width: 1070px;
    /* padding: 0px; */
    margin-left: 0px;
}

.section-form .form-control {
    height: 45px;
    border-radius: 2px;
    width: 310px;
}

.section-form .btn-default {
    width: 100%;
    height: 50px;
    margin-left: -32px;
}

.section-form .btn {
    background-color: #f9f9f9;
    border: none;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    color: #3580c7;
    border-radius: 2px;
    letter-spacing: 0.5px;
}

.section-form .btn:hover {
    box-shadow: 0px 0.5px 5px #cfd2d8;
}

.section-form-submit .btn {
    background-color: #fcbc2c;
    border-color: #fcbc2c;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
}

.section-form-submit .btn:hover {
    /* box-shadow: 1px 1px 10px #ccc; */
}


/* -------- RENEW DOMAIN SELECT ---------- */

.renewal-select {
   width: 225px;
   height: 34px;
   overflow: hidden;
   background: url(../img/up-arrow.png)no-repeat right #FFF;
   background-position-x: 210px;
}

.renewal-select select {
   background: transparent;
   width: 225px;
   padding-left: 12px;
   font-size: 11px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
/*   border: #ccc 1px solid;*/
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
     -webkit-box-shadow: 0 1px 5px #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 1px 5px #ccc, 0 -1px #fff inset;
    box-shadow: 0 1px 5px #ccc, 0 -1px #fff inset;
    appearance:none;
}

.renewal-select option {
   
}

/* -------- BULK ACTIOn BUTTON --------*/ 

.btn-group .dropdown-menu {
    background-color: #fff;
    min-width: 135px;
    border-radius: 2px;
    border: none;
}

.btn-group .dropdown-menu>li>a{
    color: #868585; 
    font: 14px 'Roboto Condensed', sans-serif;
    font-weight: bold;    
    width: 135px;
    height: 37px;
    padding: 10px 12px 0;
    border: none;
    display: block;
    margin:-3px 0;
}    

.btn-group .dropdown-menu a:hover, .btn-group .dropdown-menu a:focus {
    color: #868585;   
    background-color: #f9f9f9;
     
}