@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5f5e5e;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #002032;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #002032;
}

/* This hides the dropdowns */


li ul { 
    display: none;
    width: 100%;
}

ul li a {
  display: block;
    font-size: 15px;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
    border-top: #000 1px solid;

}

li .active a {
  color: #fcbc2c;
}

ul li a:hover { background: #0082C9; }

/* Display the dropdown */


li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a { background: #0082C9; }

li:hover li a:hover { background: #0c6396; }

.level-one li a:focus, .level-one li a:active { background-color: #0c6396;}
.level-one li ul li a { 
    background-color: #0c6396;
    border-left: #000 1px solid;
}
.level-one li ul li a:hover {background-color: #064364;}

.main-navigation li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */



ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }

/* ------- TWO COLUMNS DROPDOWN -------*/

@media screen and (max-width: 991px){
    .columns{
        height: 20px;
        overflow:scroll;

    }
}

@media screen and (min-width: 992px){
    .columns{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari and Chrome */
        column-count:2;
        width: 500px;

        -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
        -moz-column-gap: 2px; /* Firefox */
        column-gap: 2px;

        background-color: #0A4364;    
            }
}
