@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body {
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5f5e5e;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #002032;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #002032;
}

/* This hides the dropdowns */


li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
}

li .active a {
  color: #fcbc2c;
}

ul li a:hover { background: #1484c7; }

/* Display the dropdown */


li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

li:hover a { background: #1bc2a2; }

li:hover li a:hover { background: #2c3e50; }

.main-navigation li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */



ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }